img.Jimi {
    height:  647px;
    padding: 0;
    color: #e4e5e2;
    z-index: 500;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}
body {
	background-color: #FF6600;
	color: #fff;
	font-family: BasisGrotesquePro, sans-serif;
	text-align: center;
}
ul, ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
.Help